<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="testProperties" class="java.util.Properties" >
	    <constructor-arg>
	        <props>
	            <prop key="seleniumServer.serverHost">172.18.151.172</prop>
	            <prop key="seleniumServer.serverPort">4444</prop>
	            <prop key="seleniumServer.browserStartCommand">firefox</prop>
	            <prop key="environment.webapp.host">http://localhost:8080</prop>
	            <prop key="environment.webapp.context">/MyRolexWorldService/static/login.jsp</prop>
	        </props>
	    </constructor-arg>
	</bean>
</beans>